body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 0;
    margin-bottom: 20vh;
}

.header {
    width: calc(100% - 40px); /* Adjust width to add space on either side */
    background-color: #6a0dad; /* Change background color to purple */
    padding: 15px 20px; /* Increase padding and add space on sides */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Change to fixed for bottom placement */
    bottom: 0; /* Stick to the bottom */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: #fff; /* Change text color to white */
    font-size: 1.2em; /* Increase font size */
    margin: 0 auto; /* Center the header */
}

.header p {
    margin: 0;
    font-size: 1.4em; /* Further increase font size */
    font-weight: bold; /* Make text bold */
}

.header .selected-flags {
    background-color: #fff; /* White background */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Add padding */
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.header .selected-flags img {
    width: 25px; /* Increase size of selected flags */
    height: auto;
    margin-left: 10px; /* Increase margin */
    vertical-align: middle;
    border: solid black 1px;
}

.header .input-container label {
    font-size: 1.2em; /* Increase label font size */
}

.header input[type="text"] {
    padding: 10px; /* Increase padding */
    margin-right: 15px; /* Increase margin */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.2em; /* Increase input font size */
}

.header button {
    padding: 10px 15px; /* Increase button padding */
    background-color: #aaa; /* Change button background color to a darker purple */
    border: none;
    border-radius: 4px;
    color: #fff; /* Change button text color */
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .header p {
        width: 100%;
        text-align: center;
        margin-bottom: 10px; /* Add space below the points indicator */
    }

    .header .selected-flags {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px; /* Add space below the selected flags */
        padding:0;
        padding-top:5px;
        padding-bottom: 5px;
    }

    .header .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header input[type="text"] {
        margin: 10px 0; /* Add space above the input field */
    }

    .header button {
        width: 100%;
        font-size: 1.2em; /* Increase font size for better touchability */
    }
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.title-container .title-image {
    width: 85px;
    height: auto;
    margin: 0 20px;
}

.rules {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
}

.rules p {
    margin: 0 0 10px;
    font-size: 1.1em;
}

.rules ul {
    margin: 10px 0 10px 20px;
}

.featured-card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.featured-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    cursor: pointer;
}

.featured-card.selected {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.featured-card.unaffordable {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

.featured-card img {
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 10px;
    border: solid 1px;
}

.featured-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.featured-card p {
    font-size: 1em;
    color: #333;
}

.featured-card .additional-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card{
        width: 130px;
    }
    .featured-card{
        margin:5px;
    }
}

.card.selected {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.card.unaffordable {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}

.card img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 10px;
    border: solid 1px;
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    color: #333;
}

.selected-flags img {
    width: 20px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
    border: solid 1px;
}

